header, .content
{
	background-color: rgba(13, 110, 253, 0.04) !important;
}

.scrolled
{
	background: #5397fc !important;
}

.content
{
	background: url("../images/bg3.png") !important;
	background-repeat: no-repeat !important;
	background-size: 700px 500px !important;
	background-position: 820px 20px !important;
	background-color: rgba(13, 110, 253, 0.04) !important;
}

.content section a
{
	width: 250px !important;
	height: 50px !important;
	line-height: 50px !important;
	border-radius: 30px !important;
}

.extra
{
	background-color: rgba(13, 110, 253, 0.04);
	height: 70px;
	width: auto;
}

.moviesOuter
{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 40px;
}

.moviesOuter section
{
	margin-bottom: 30px;
}

.moviesOuter section h2
{
	font-size: 2.5em;
}

.moviesForm input
{
	padding: 5px;
	padding-left: 10px;
	outline: none;
	border: none;
	border-radius: 5px;
	width: 500px;
	height: 35px;
	border: 1px solid #0d6efd;
}

.moviesForm button
{
	border: none;
	outline: none;
	cursor: pointer;
	text-align: center;
	min-width: 200px;
	min-height: 35px;
	color: white;
	background: #0d6efd;
	border-radius: 5px;
}


.moviesForm button:hover
{
	background: #0d52b8;
	transition: .5s;
}

.resultText
{
	margin-top: 40px;
	display: none;
	align-items: center;
	margin-left: 7.3%;
}

.resultText h2
{
	font-size: 1.5em;
}

.resultText.active
{
	display: flex;
}

.cards
{
	display: grid;
	grid-template-columns: repeat(4, 300px);
	grid-gap: 40px;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
}

.card
{
	display: none;
	flex-direction: column;
	width: 300px;
	height: 600px;
	align-items: center;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	color: black;
	border-radius: 3px;
	gap: 5px;
	cursor: pointer;
	transition: .5s;
}

.card.active
{
	display: flex;
}

.card.active:hover
{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	transition: .3s;
}

.card section
{
	display: flex;
	gap: 40px;
	margin-top: auto;
	margin-bottom: 10px;
}

.card section span
{
	font-weight: 600;
}

.card .movieTitle
{
	color: #0d6efd;
	text-align: center;
	margin-top: 10px;
}

.card .movieText
{
	font-weight: 300;
}

.card .movieImg
{
	max-height: 400px;
}

.pagination
{
	display: none;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-top: 30px;
}

.pagination.active
{
	display: flex;
}

.pagination button
{
	padding-left: 5px;
	padding-right: 5px;
	outline: none;
	border: none;
	border-radius: 5px;
	background: #0d6efd;
	color: white;
	cursor: pointer;
	width: 100px;
	height: 40px;
	text-align: center;
}

.pagination button:hover
{
	background: #0d52b8;
	transition: .3s;
}

.pagination button:disabled
{
	background: #666;
	cursor: not-allowed;
}